
@import "_nullstyle";
.wrapper {
    display: grid;
    min-height: 100%;
    grid-template: minmax(100px,auto) 1fr minmax(70px,auto)/1fr;
    grid-template-areas:
    "header"
    "main"
    "footer";
}
.header {
    grid-area: header;
    padding: 15px;
    background-color: rgb(107, 71, 27);
    display: grid;
    grid-template: 1fr/ 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;

		&__logo {
            width: 70px;
            height: 70px;
            background-color: red;
            border-radius: 50%;
            overflow: hidden;
            grid-column: 2 / 3;
		}

		&__menu {
		}

		&__list {
            display: grid;
            grid-auto-flow: column;
            justify-items: end;
        		}

		&__link {
            color: white;
            font-size: 16px;
		}

		&__burger {
		}
}
.main {
    grid-area: main;
    background-color: royalblue;
}
.sidebar {

		&__menu {
		}

		&__list {
		}

		&__link {
		}
}
.content {

		&__title {
		}

		&__gallery {
		}

		&__products {
		}
}
.gallery {

		&__title {
		}

		&__item {
		}
}
.products {

		&__title {
		}

		&__items {
		}

		&__item {
		}

		&__image {
		}

		&__button {
		}
}
.footer {
    grid-area: footer;
    background-color: greenyellow;

		&__copy {
		}
}
